<section class="hero is-primary is-bold is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title"> Welcome to ACME Cable Company Support </h1>
      <h3 class="subtitle">description insert here of app functionality</h3>
      <h2 class="subtitle">Test out our chatbot or login to download!</h2>
      <a class="button is-link" routerLink="/chat">Chat with our Bot!</a>
      <a class="button is-link" routerLink="/download">Download a bot to your website</a>
      
    </div>
  </div>
</section>