<section class="hero is-primary is-bold is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title"> Welcome to ACME Cable Company Support </h1>
      <h3 class="subtitle">The ACME Chatbot is designed to solve the most common issues with internet and cable TV. At your convenience, you can schedule an appointment with the chatbot.</h3>
      <h2 class="subtitle">Test out our chatbot or login to download!</h2>
      <a class="button is-link" routerLink="/chat">Chat with our Bot!</a>
      <a class="button is-link" routerLink="/download">Download a bot to your website</a>
      <a class="button is-link" routerLink="/about">About us</a>
      <div class="row">
        <div class="column">
          <img src="assets/img/ACME login.png">
      </div>
      <div class="column">

          <img src="assets/img/ACME chatbot.png">


      </div>
      <div class="column">
          <img src="assets/img/ACME internet 1.png">

        
      </div>
      <div class="column">

        <img src="assets/img/ACME internet 2.png">

        
      </div>

      </div>
    
    </div>
  </div>
</section>
