<h3 align="center"><b>How can we help?</b></h3>

<ng-container *ngFor="let message of messages | async">

  <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                    'to':   message.sentBy === 'user' }">
    {{ message.content }}
  </div>

</ng-container>

<div class="messaging">

  <button class="button"style="float: right;" (click)="sendMessage()">Send</button>

  <input class="input is-rounded" style="float: right;"type="text" placeholder="Your Message"
   [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text">
</div>

<div id="chat-container">
</div>