
* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: #DAE5F5;
}
#content{


}
#chat-window{
    margin: 10px;
    padding: 10px;
    background: #9DC0F5;
    border: 20px;
    border-color: black;
    width: 27%;
    justify-content: right;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60%;
    overflow: auto;
    border-radius: 5px;

}

#faq{
    margin: 10px;
    padding: 10px;
    background: #9DC0F5;
    border-radius: 10px;
    float: left;

}

#title{
    justify-content: center;
}

h2{
    text-align: center;
}

