<!--Header-->
<div class="navbar is-dark">
  <!--Logo-->
  <!--Div class nav bar menu-->
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img src="assets/img/ACMElogo2.png" width="112" height="28">
    </a>
    
    <!--Line 12 is original code by git user GabMic-->
    <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </div>
    
  </div>
  <div id="navbar-menu" class="navbar-menu">
    

    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">Home</a>
      <a class="navbar-item"routerLink="/calendar">Calendar</a>
      <a class="navbar-item" routerLink="/chat">Support</a>
      <a class="navbar-item" routerLink="/download">Download</a>
      <a class="navbar-item" routerLink="/about">About</a>  
    </div>


        <div class="navbar-end">
          <a *ngIf="!user" class="navbar-item" routerLink="/login">Login</a>
          <a *ngIf="user" class="navbar-item" (click)="logout()">Logout</a>
        </div>    
  </div>
</div>
