  <!--Header-->
  <div class="navbar is-dark">
    <!--Logo-->
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="assets/img/a-logo.png" alt="--Logo--">
      </a>
    </div>

    <!--Div class nav bar menu-->
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/">Home</a>
            <a class="navbar-item"routerLink="/admin">Agent View</a>
            <a class="navbar-item" routerLink="/chat">Chat</a>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" routerLink="/login">Login</a>

        </div>
    </div>

  </div>
    
    
