<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
    </head>
    <body>
        <section class="hero is-info is-medium is-bold">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">
                    Welcome to the ACME Chatbot
                    </h1>
                    <h2 class="subtitle">
                    Propel your customer service to the next level with our chatbot designed to handle common internet and cable related questions.
                    </h2>
                </div>
            </div>
        </section>
        <div class="box cta">
            <p class="has-text-centered">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3SuwGvUfLZY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p>
        </div>
        <section class="container">
            <div class="columns features">
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i class="fa fa-paw"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>Our Team </h4>
                                <h5>Jahred Danker</h5>
                                <ul>
                                    <li>jdanker@email.sc.edu</li>
                                    <li>www.linkedin.com/in/jahredd</li>
                                </ul>
                                <h5>Epiphany Christian</h5>
                                <ul>
                                    <li>epiphany@email.sc.edu</li>
                                </ul>
                                <h5>Jacob Rego</h5>
                                <ul>
                                    <li>jrego@email.sc.edu</li>
                                </ul>
                                <h5>Stephen Taylor Mcgown</h5>
                                <ul>
                                    <li>Stevenmcgown1@gmail.com</li>
                                    <li>Smcgown@email.sc.edu</li>
                                </ul>
                                <h5>Alden Perreyclear</h5>
                                <ul>
                                    <li>perreyec@email.sc.edu</li>
                                    <li>www.linkedin.com/in/alden-perreyclear</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i class="fa fa-empire"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4>About the Bot</h4>
                                <p>ACME Chatbot is a comprehensive solution to technical customer service. 
                                    Instead of having an employee answer common questions, the bot can handle all of those questions and more.
                                    It can even escalate the issue to schedule an in person appointment with a technician. You can demo and view all of the features of our
                                    bot by going to the chat tab or logging in. 
                                </p>
                  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card is-shady">
                        <div class="card-image has-text-centered">
                            <i class="fa fa-apple"></i>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <h4> Source Code </h4>
                                <a href="https://github.com/SCCapstone/CCChatbot">Github Repo</a> 
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">


        </section>
    </body>
</html>